/*Cores:
#803B3B escura
#CC5E5E clara
*/


/* ESTILOS GERAIS */

img {
    display: block;
    max-width: 100%;
}

p {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 14px;
    line-height: 25px;
}


/*  */

.introducao {
    width: 100%;
    height: 550px;
    background: url("../img/banner-principal.jpg") no-repeat center;
    background-color: #000;
    background-size: cover;
    text-align: center;
    padding-top: 80px;
    color: #fff;
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 25px;
}

.logo {
    width: 250px;
    height: 250px;
    position: relative;
    top: -40px;
    left: 37%;
}

.introducao p {
    font-weight: bold;
    margin: 0 auto;
    width: 350px;
    padding: 20px;
    margin: 0 auto 30px auto;
}

.introducao a {
    background: #3B804E;
    color: #fff;
    width: 251px;
    height: 45px;
    border-radius: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 25px;
    line-height: 20px;
}

.introducao a:hover {
    border: 3px solid #fff;
}

.mais-pedido {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    font-style: italic;
    line-height: 25px;
    margin: 20px auto 40px auto;
}

.mais-pedido::before {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background: #803B3B;
    margin-bottom: 10px;
}

.mais-pedido:after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background: #803B3B;
    margin-top: 130px;
    margin-bottom: 50px;
}

.mais-pedido img {
    background: #000;
    height: 100px;
    width: 90px;
    float: left;
    margin-right: 10px;
}

.mais-pedido h4 {
    font-size: 16px;
    font-weight: bold;
    color: #803B3B;
}

.mais-pedido p {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
}

.mais-pedido .btn-mp {
    background: #CC5E5E;
    color: #fff;
    border: 3px solid #CC5E5E;
    border-radius: 10px;
    float: right;
    height: 30px;
}

.mais-pedido .btn-mp:hover {
    border-color: #000;
    color: #000;
}

.quebra {
    clear: both;
}

.logo-about {
    width: 250px;
    height: 250px;
    position: relative;
    left: 37%;
}

.about {
    width: 100%;
    height: 550px;
    background: url("#") no-repeat center;
    background-color: #000;
    background-size: cover;
    text-align: center;
    padding-top: 80px;
    color: #fff;
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 25px;
}

.about p {
    margin-top: 50px;
}

.about a {
    display: inline-block;
    margin-top: 35px;
    border-bottom: 3px dashed #fff;
}